*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  width: 100%;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to left,#FFC7EA,#D8B4F8);
}