.dis-fl{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.start{
    width: 97%;
    padding: 0.5rem 1rem;
    position: fixed;
    background-color: white;
    top: 20px;
    filter: drop-shadow(2px 2px 5px black );
    border-radius: 1rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start > input,.start > label{
    display: none;
}
.start h1{
    font-weight: 900;
    font-size: 3rem;
    background-image: url(./Assests/triangle.png);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(2px 2px 5px orange);
    padding-left: 3rem;
}
.switch-page> a{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:#FFD23F;
    font-weight: 900;
}
.switch-page >a:hover{
    border-radius: 1em; 
    padding: 0.5rem 1rem;
    color: rgba(247, 39, 152,1); 
    animation: hoverColor  2s infinite;
    cursor: pointer;
    filter: none
}
@keyframes hoverColor {
    0%{
        box-shadow: 0 0 0 0 rgba(247, 39, 152,1);
    }
    40%{
        box-shadow: 0 0 0 5px rgba(247, 39, 152,0);
    }
    80%{
        box-shadow: 0 0 0 5px rgba(247, 39, 152,1);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(247, 39, 152,0);
    }
}
.start input:checked ~.switch-page{
    left: 0%;
    transition: all 2s;
    transition-timing-function: linear;
}

/*--------------------------header media query------------------*/
/*--------------mobile--------------*/
@media screen and (min-width:300px) and (max-width:500px) {
    
    .start h1{
        font-size: 2rem;
        padding-left: 2rem;
    }
    .start>label{
        display: inline;
    }
    .switch-page{
        background-color: white;
        position: absolute;
        top: 60px;
        left: -120%;
        line-height: 75px;
        flex-direction: column;
        height: 88vh;
        width: 96vw;
        border-radius: 1.5rem;
    }
    .switch-page>a{
        transition: all 2s;
        font-size: 2rem;
    }
}
/*------------------tablet--------*/
@media screen and (min-width:500px) and (max-width:900px) {
    
    .start h1{
        font-size: 2.5rem;
    }
    .start>label{
        display: inline;
    }
    .switch-page{
       background-color: white;
        position: absolute;
        top: 75px;
        left: -110%;
        line-height: 75px;
        flex-direction: column;
        height: 85vh;
        width: 97vw;
        border-radius: 1.5rem;
    }
    .switch-page>a{
        font-size: 3rem;
    }
}
@media screen and (min-width:900px) and (max-width:1200px){
    .switch-page>a{
        font-size: 1.5rem;
    }  
    .start h1{
        font-size: 2.5rem;
        padding-left: 1rem;
    } 
}

/* ------------------home-------------------- */
.fst-lk{
    width: 100%;
    height: 100vh;
    padding:5rem 1rem;
    gap: 2em;
}
.name-style{
    min-width: 60%;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em;    
}
.name-style>:first-child{
    font-size:3em;
}
.name-anime{
    padding: 5px;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    color: crimson;
    border-right: 5px solid crimson;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s ,
                cursor .4s step-end infinite alternate;
}
/* cursor blinking */
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
/* typing effect */
@keyframes typing {
    from{
        width: 0;
    }
}
.name-style>:nth-child(3){
    font-size:3em ;
    padding: 10px;
}
.abt-acn{
    background-color: orange;
    padding: 10px;
    font-weight: 900;
    border-radius: 16px;
    border:5px solid transparent;
}
.abt-clr,.icn-clr{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
.abt-acn:hover{
    color: white;
    background-color: #6420AA;
    text-decoration: underline;
    border:5px solid white;
    transform: scale(1.1);
    transition: all 2s;
}
.image-top{
    width: 300px;
    height: 400px;
    align-items: flex-end;
    background:#FFDEFA;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    box-shadow: 5px 5px 10px 10px #836FFF;
    filter:drop-shadow( 10px 10px 20px #FF3EA5);
}
.image-top img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    z-index: 5;
    border-bottom-right-radius: 5em;
}

@media screen and (min-width:300px) and (max-width:500px){
    .fst-lk{
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        padding: 5em 0.5em 1em;
    }
    .name-style{
        padding: 0.5em;
        width: 100%;
    }
    .name-style>:first-child{
        font-size:1em;
    }
    .name-anime{
        font-size: 1.5rem;
        width: 100%;
        white-space: wrap;
    }
    .name-style>:nth-child(3){
        font-size:1rem ;
        padding: 10px 5px;
    }
    .abt-acn,.abt-clr,.icn-clr{
        font-size:20px ;
        padding: 5px;
    }
    .image-top,.image-top img{
        height: 300px;
    }
}
@media screen and (min-width:500px) and (max-width:900px){
    .fst-lk{
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        padding: 5em 0.5em 1em;
    }
    .name-style{
        padding: 0.5em;
    }
    .name-style>:first-child{
        font-size:1.5em;
    }
    .name-anime{
        font-size: 2rem;
        width: 100%;   
    }
    .name-style>:nth-child(3){
        font-size:1.5rem ;
        padding: 10px;
    }
    .abt-acn,.abt-clr,.icn-clr{
        font-size:20px ;
        padding: 5px;
    }
    .image-top,.image-top img{
        height: 300px;
    }
}
@media screen and (min-width:900px) and (max-width:1200px){
    .fst-lk{
        width: 100%;
        min-height: 100vh;
        padding: 5em 0.5em 1em;
    }
    .name-style{
        padding: 0.5em;
        width: 100%;
    }
    .name-style>:first-child{
        font-size:2em;
    }
    .name-anime{
        font-size: 3rem;
        letter-spacing: 0.2rem;
        width: 100%;
        white-space: nowrap;
    }
    .name-style>:nth-child(3){
        font-size:2rem ;
        padding: 10px;
    }
    .abt-acn,.abt-clr,.icn-clr{
        font-size:20px ;
        padding: 5px;
    }
    .image-top,.image-top img{
        height: 350px;   
    }
}

/* ------------------snd-lk-------------------- */
.snd-lk{
    width: 100%;
    min-height: 742px;
    padding: 5em 1em 1em;
    flex-direction: column;
}
.snd-lk>h1{
    font-size: 5em;
    padding: 2rem 1rem;
    color: #AA2EE6;
}
.org{
    width: 100%;
    gap: 30px;
}
.pnl-info{
    width: 45%;
    padding: 10px;
    flex-direction: column;
}
.pnl-info>:first-child{
    padding: 10px 0px;
    font-size: 45px;
    color: #430A5D;
}
.wd-clr{
    color: #E94560;
}
.pnl-info>:nth-child(2){
    line-height: 30px;
    color: #222831;
    font-weight: 500;
    padding: 1.5rem 0rem 2.5rem;
}
.pnl-info>:last-child{
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 900;
    color: white ;
    background: linear-gradient(to right,#77cffe,#71ee99);
}
.pnl-info>:last-child:hover{
    background: linear-gradient(to left, darkviolet,hotpink);
}
.pnl-info>:last-child:active{
    background: linear-gradient(to right ,crimson,yellow);
}   
.skill-set{
    width: 45%;
    text-align: center;
    min-height: 100px;
    padding: 20px 100px;
    border: 5px solid #836FFF;
    border-radius: 24px ;
    background-color: azure;
}
.skill-set >:first-child{
    color: #6420AA;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.splNa{
    color: #FF3EA5;
}
.imageSize{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
/* Container for skill bars */
.container-sk {
    width: 100%; 
    background-color: #ddd; 
}
.skills {
    text-align: right; 
    color: white; 
}
.sk-tag {
    padding: 10px;
}
  
.html {
    background-color: orangered;
    animation: html 5s infinite ease-in-out;
    } 
.css {
    background-color: #2196F3;
    animation: css 5s infinite ease-in-out;
} 
.boot {
    background-color: #7F27FF;
    animation: boot 5s infinite ease-in-out;
} 
.js {
    background-color: #FCDC2A;
    animation: js 5s infinite ease-in-out;
} 
.react{
    background-color: aqua;
    animation: react 5s infinite ease-in-out;
} 
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes boot {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@media screen and (min-width:300px) and (max-width:500px){
    .snd-lk{
        padding: 3em 0.5em 1em;
    }
    .org{
        flex-direction: column;
    }
    .snd-lk>h1{
        font-size: 2em;
    }
    .pnl-info>:first-child{
        font-size: 30px;
    }
    .pnl-info{
        width: 95%;
    }
    .skill-set{
        width: 95%;
        padding: 15px;
    }
}
@media screen and (min-width:500px) and (max-width:900px){
    .snd-lk{
        padding: 3em 0.5em 1em;
    }
    .org{
        flex-direction: column;
    }
    .snd-lk>h1{
        font-size: 3em;
    }
    .pnl-info>:first-child{
        font-size: 30px;
    }
    .pnl-info{
        width: 95%;
    }
    .skill-set{
        width: 95%;
        padding: 15px;
    }
}  
@media screen and (min-width:900px) and (max-width:1200px){
    .snd-lk{
        padding: 3em 0.5em 1em;
    }
    .snd-lk>h1{
        font-size: 3em;
    }
    .pnl-info>:first-child{
        font-size: 30px;
    }
    .pnl-info{
        width: 70%;
    }
    .skill-set{
        width: 70%;
        padding: 15px;
    }
}    

/* ------------------snd-lk-------------------- */
.trd-lk{
    min-height: 742px;
    padding: 7em 2em 3em !important;
}
.pro-clr{
    color: #E94560;
    font-size: 70px;
    padding: 10px;
}
.lft{
    rotate: 270deg;
}
.rgt{
    rotate: 90deg;
    transform: scaleX(-1);
}
@media screen and (min-width:300px ) and (max-width:500px){
    .trd-lk{
        padding: 4.5em 2em 3em !important;
    }
    .pro-clr{
        font-size: 40px;
    }
}
@media screen and (min-width:500px ) and (max-width:900px){
    .trd-lk{
        padding: 5em 2em 3em !important;
    }
    .pro-clr{
        font-size: 50px;
    }
}
/* ------------------snd-lk-------------------- */
.fur-lk{
    padding: 7em 2em 3em;
    min-height: 742px;
}
.fur-lk>:first-child{
    font-size: 5rem;
    color: #AF0171;
}
.gtTch{
    padding: 20px;
    background-color: azure;
    border: 10px double #5356FF;
    border-radius: 1rem 1.5rem;
    box-shadow: 2px 2px 5px 5px #97FFF4;
}
.bx-clr{
    padding: 2rem;
    border: 5px solid rebeccapurple;
    border-radius: 1rem;
}
@media screen and (min-width:300px ) and (max-width:500px){
    .fur-lk{
        padding: 4.5em 1em 3em !important;
    }
    .fur-lk>:first-child{
        font-size: 2rem;
        color: #AF0171;
    }
    .gtTch{
        padding: 10px;
    }
}
@media screen and (min-width:500px ) and (max-width:900px){
    .fur-lk{
        padding: 5em 2em 3em !important;
    }
    .fur-lk>:first-child{
        font-size: 5rem;
        color: #AF0171;
    }
}
/* ------------------footer-------------------- */

.end{
    width: 100%;
    position: relative;
    background-color: #D2E0FB;
    padding: 2rem;
    flex-direction: column;
}
.end h1{
    font-size: 4rem;
    filter: drop-shadow(#97FFF4);
    background-image: url(./Assests/water.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.icons{
    padding: 2rem;
}
.icons>a{
    font-size: 3em;
    padding: 0.3em;
    text-decoration: none;
    border-radius: 50%; 
    color: white; 
}
.github:hover{
    color: black;
}
.linkedin:hover{
    color: dodgerblue;
}
.mail:hover{
    color: lightcoral;
}
.facebook:hover{
    color: royalblue;
}
.instagram:hover{
  color: orangered;
}
.end >h2{
    padding: 0.8rem;
    color: white;
}
.wish{
    position: absolute;
    width: 200px;
    height: 350px;
    background-color: lightseagreen;
}
.shape-rc{
    left: 10px;
    clip-path: circle(50% at 0 50%);
}
.shape-cl{
    right:10px;
    clip-path: circle(50% at 100% 50%);
}
.tcr{
    position: absolute;
    width: 200px;
    height: 350px;
    background-color: lightskyblue;
}
.shape-f{
    right: 150px;
    clip-path: circle(25% at 50% 50%);
}
.shape-t{
    left:150px;
    clip-path: circle(25% at 50% 50%);  
}
.crt{
    position: absolute;
    width: 200px;
    height: 350px;
    background-color: orange;
}
.shape-c{
    left: 280px;
    clip-path: circle(10% at 50% 50%);
}
.shape-cr{
    right: 280px;
    clip-path: circle(10% at 50% 50%);
}

/* ---------------footer media query --------------- */
@media screen and (min-width:300px) and (max-width:500px) {
   .shape-rc,.shape-cl,.shape-f,.shape-t,.shape-cr,.shape-c{
    display: none;
   } 
   .end{
    padding: 1.5rem;
}
   .end>h1{
    font-size: 3rem;
   }
   .icons{
    padding: 0.5rem;
   }
   .icons>a{
    font-size: 1.6em;
}
    .end >h2{
       font-size: 20px;
}
}
@media screen and (min-width:500px) and (max-width:900px) {
    .shape-rc,.shape-cl,.shape-f,.shape-t,.shape-cr,.shape-c{
     display: none;
    } 
    .shape-c{
        left: 10px;
    }
    .shape-cr{
        right: 10px;
    }
    .end{
        padding: 1.5rem;
    }
    .end>h1{
        font-size: 3rem;
       }
    .icons{
        padding: 0.5rem;
       }
    .icons>a{
        font-size:2.5em;
    }
    .end >h2{
        font-size: 20px;
    }
    .crt{
        height: 100px;
    }
}
@media screen and (min-width:900px) and (max-width:1200px) {
    .shape-rc,.shape-cl,.shape-f,.shape-t,.shape-cr,.shape-c{
     width: 110px;
    } 
    .shape-cl,.shape-rc{
        display: none;
    }
    .shape-c{
        left: 150px;
    }
    .shape-cr{
        right: 150px;
    }
    .shape-f{
        right: 20px;
    }
    .shape-t{
        left:20px;  
    }
}